<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <link href="style_sheet.css" rel="stylesheet" />
    <meta charset="ISO-8859-1">
    <title>COMP303Assignment2 index</title>
</head>
<body>
    <form id="loginForm" name="loginForm" action="#" th:action="@{/toEmployeeForm}" th:object="${employee}" method="post">
        <img src="yuichipics.jpg" style="width: 600px; height: 500px" alt="yuichi">
        <h1>Employee Form</h1>

        <input type="text" th:field="*{userName}" placeholder="User Name" />
        <input type="password" th:field="*{password}" placeholder="Password" />
        <button type="submit">Login</button>
    </form>
</body>
</html>
